* {
    box-sizing: border-box;
}
body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-image: url(https://www.parkstreet.com/wp-content/uploads/Barrels-2-1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

.hide {
    display: none;
}

.restart-game {
    font-size: 16px;
    height: 30px;
    line-height: 8px;
    margin-top: 20px;
}

.start-btn {
    font-size: 52px;
    height: 100px;
    line-height: 8px;
}

.intro {
    line-height: 300px;
}
.small-header {
    color: aliceblue;
}
.current-score .win-loss-container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}
.card .current-score {
    margin-top: 90px;
}

#question {
    font-size: 50px;
}

button {
    background: radial-gradient(circle, rgba(240,230,140,1) 0%, rgba(233, 160, 4, 0.954) 100%);
    border-radius: 8px;
    color: #13293d;
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 0.21px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
}

header {
    padding: 40px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    background: #13293d;
    color: rgba(211, 1, 1, 0.623);
    border-bottom:30px #879274;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#questions-container, #start-container{
    width: 65vw;
    height: 500px;
    margin: auto;
}

.question {
    font-size: 40px;
}

.card {
    background: radial-gradient(circle, rgba(240,230,140,1) 0%, rgba(187,124,33,0.604079131652661) 100%);
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    margin: auto;
    padding: 20px;
}

.large-font {
    font-size: 3.5em;
    text-align:center;
}

p {
    font-size: 24px;
    text-align: center;
    padding-top: 15px;
    color: rgb(1, 2, 14);
}

.timer {
    height: 240px;
    padding: 10px;
    margin-right: 75px;
    margin-top: 50px;
    background: #13293d;
    color: #fff;
    text-align: center;
}

.timer-text {
    padding: 55px;
}

.timer-count {
    padding: 30px;
}

@media screen and (max-width: 1183px) {
    main {
      flex-direction: column;
    }
  
    .questions-container,
    .current-score {
      width: 90vw;
    }
  
    section {
      margin: 20px auto;
      width: 92vw;
    }
  }
  
  @media screen and (max-width: 504px) {
    .large-font {
      font-size: 2em;
    }
  
    .restart-game {
      font-size: 12px;
      width: 20px;
      
    }
  
    .timer {
      height: 200px;
    }
}